body
{
    background-image: url(../backround.jpeg);
}

.backround
{
    border: 2px solid black;
    box-shadow: 3px 8px 8px;
    height: 600px;
    width: 300px;
    margin: 100px auto;
    background-color: rgb(32, 0, 62);
    border-radius: 25px;
}

.BH
{
    margin: 0px auto;
    text-align: center;
    color: white;
    padding: 10px 0px 0px 0px;
}

h2,label
{
    color: white;
}

.i1
{
    align-items: center;
    text-align: center;
    display: block;
    border: 1px solid black;
}
